.grid-body {
  margin: auto;
  width: 50%;
}
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
  }
}
.jumbotron {
  background-color: grey;
  color: white;
  margin-bottom: 1.5em;
  text-align: center;
  height: 100%;
}
#male {
  background-color: red;
  width: 4em;
  display: inline-block;
  height: 4em;
}
.gender-group{
  display: inline-block;
  padding-right: 3em;
}
h3 {
  display: inline-block;
  width: 4em;
}
#female {
  background-color: yellow;
  width: 4em;
  display: inline-block;
  height: 4em;
}
.input-labels {
  display: inline-block;
  padding-right: 3em;
}
.activity-grid {
  float: left;
  width: 48%;
  height: 4em;
}
#sedentary {
  background-color: yellow;
}
#light {
  background-color: red;
}
#moderate {
  background-color: purple;
}
#very {
  background-color: green;
}